* {
  padding: 0px;
  margin: 0px;
}
/* 헤더 영역 */
#header {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header a {
  text-align: center;
}
#header .header_title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#header .header_subtitle {
  color: #ccc;
  font-size: 0.8rem;
}
#header a:link, #header a:visited {
  text-decoration: none;
  color:#5089fa;
  font-weight: bold;
}
#search {
  padding: 7px;
  padding-left: 30px;
  min-width: 70vw;
  background-color: #eee;
  background-image: url(img/search.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left 5px center;
  opacity: 0.5;
  border: none;
  border-radius: 5px;
}
#header ul {
  list-style: none;
}
#header_login_join {
  display: flex;
  justify-content: center;
}
#header_login_join li {
  margin: 0px 5px;
  
}
#header_login_join a {
  padding: 3px;
  font-size: 0.9rem;
}
#header_login_join a:link, #header_login_join a:visited {
  color: #aaa;
  font-weight: normal;
}
/* 푸터 영역 */
#footer {
  width: 100vw;
  background-color: #aaa;
  padding: 10px;
  font-size: 0.7rem;
}
/* 메인 영역 */
.mainContainer {
  width: 100vw;
}
/* .preview {
  padding: 10px;
  font-weight: bold;
} */

/* .mainVideoBox {

  width: 100%;
} */
/* .mainVideo {
  display:flex; 
  align-items: center; 
  justify-content: center;
  width:100%;  
  height:400px;
} */
.main {
  margin: 10vw 0px;
}
.main_rank {
  padding: 10px;
  font-weight: bold;
}
.movie_name {
  font-size: 2.5vw;
}
.movie_sub {
  font-size: 2vw;
}
.mainFlex {
  box-sizing: border-box;
  display: flex;
  overflow: auto;
  /* width: 100%; */
}
.mainFlex div {
  margin: 0px 2vw;
}
.FlexImage {
  width: 30vw;
  height: 40vw;
}
@media screen and (min-width: 426px) {
  /* 메인 영역 */
  .mainVideo {
    width:100%;  
    height:600px;
  }
  .mainFlex {
    box-sizing: border-box;
    display: flex;
    overflow: auto;
    width: 100%;
  }
  .FlexImage {
    width: 250px;
    height: 360px;
  }
  .movie_name {
    font-size: 16px;
  }
  .movie_sub {
    font-size: 16px;
  }
  .main {
    margin: 100px 80px;
  }
  /* 헤더, 푸터 영역 */
  #header {
    margin: 15px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
  }
  #header > a {
    margin: 0px;
  }
  #header > ul {
    position: absolute;
    right: 0px;
    display: flex;
  }
  #search {
    min-width: 200px;
  }
  .preview, .main_rank {
    font-size: 2rem;
    margin: 1.25rem;
  }
  #footer p {
    font-size: 1rem;
  }
}