* {
  margin: 0px;
  padding: 0px;
}
/* nav 영역 */
.NavContainer {
  margin: 0 auto;
  width: 100vw;
  justify-content: center;
  /* background-color:#eee; */
  /* display: flex; */
}

.NavImage {
  width: 100vw;
  height: 100%;
  /* border-radius: 0.9375rem; */
}

.NavContainer>img {
  /* max-width:425px; */
  height: auto;
  /* object-fit: cover; */
}

.NavContent {
  background-color: ghostwhite;
  /* border-radius: 0.9375rem; */

  border: 1px solid #eee;
  padding: 2vw;
}
.NavContent header {
  margin-bottom: 3vw;
}

.LikeContainer {
  text-align: center;
  vertical-align: middle;
  /* border-radius: 0.9375rem; */
  padding: 2vw;
  margin-top: 3vw;
  width: 100%;
  height: 55px;
  border: 1px solid #eee;
}

.LikeContent {
  font-size: 45px;
  color:rgba(255, 0, 0, 0.5);
}

.LikeContent0 {
  font-size: 25px;

}
/* #opt1 { */
/* display:grid; */
/* grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
  grid-gap:1rem; */
/* } */

.GridImage {
  width: 40vw;
  height: 60vw;
  /* border-radius: 0.9375rem; */
}

.MainContainer, .MainContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
  padding: 5vw 0px;
  background-color: #eee;
  /* box-sizing: border-box;
  height: 800px;
  margin: 50px auto;
  margin-top: 50px;
  width: 425px;
  border: 1px solid black;
  border-radius: 0.9375rem; */
}

.GridContainer {
  /* width: 100%; */
  /* height: 100%; */
  /* margin-bottom: 200px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.GridItem {
  /* background-color: #ddd; */
  /* padding: 50px; 그리드 아이템 안의 여백 */
  text-align: center;
}
#grid_text {
  text-align: center;
  font-weight: bold;
  margin-bottom: 4vw;
}

/* 헤더 영역 */
#header {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header a {
  text-align: center;
}
#header .header_title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#header .header_subtitle {
  color: #ccc;
  font-size: 0.8rem;
}
#header a:link, #header a:visited {
  text-decoration: none;
  color:#5089fa;
  font-weight: bold;
}
#search {
  padding: 7px;
  padding-left: 30px;
  min-width: 70vw;
  background-color: #eee;
  background-image: url(../index/img/search.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left 5px center;
  opacity: 0.5;
  border: none;
  border-radius: 5px;
}
#header ul {
  list-style: none;
}
#header_login_join {
  display: flex;
  justify-content: center;
}
#header_login_join li {
  margin: 0px 5px;
  
}
#header_login_join a {
  padding: 3px;
  font-size: 0.9rem;
}
#header_login_join a:link, #header_login_join a:visited {
  color: #aaa;
  font-weight: normal;
}
/* 푸터 영역 */
#footer {
  width: 100vw;
  background-color: #aaa;
  padding: 10px;
  font-size: 0.7rem;
}

.MainContainer2 {
  display: none;
}

@media screen and (min-width: 426px) {
  .NavFlex426 {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    padding: 5vw 0vw;
  }
  .NavImage {
    width: 30vw;
    height: 30vw;
    /* height: 100%; */
    /* border-radius: 0.9375rem; */
  }
  .NavContent {
    box-sizing: border-box;
    width: 30vw;
  }
  .GridImage {
    width: 12vw;
    height: 18vw;
  }
  .MainContainer2 {
    display: inline-block;
    margin: 0px;
    padding: 3vw;
  }
  #grid_text {
    font-size: 1.5vw;
    margin-bottom: 2vw;
  }
  .MainContainer {
    display: none;
  }
  .LikeContainer {
    margin: 2vw 0vw;
  }
  /* 헤더, 푸터 영역 */
  #header {
    margin: 15px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
  }
  #header > a {
    margin: 0px;
  }
  #header > ul {
    position: absolute;
    right: 0px;
    display: flex;
  }
  #search {
    min-width: 200px;
  }
  .preview, .main_rank {
    font-size: 2rem;
    margin: 1.25rem;
  }
  #footer p {
    font-size: 1rem;
  }
}
