* {
  margin: 0px;
  padding: 0px;
}
#join {
  text-align: center;
}
#join p {
  margin: 20px auto;
}
#join input {
  box-sizing:border-box;
  padding: 5px;
  margin: 5px;
  min-width: 70vw;
  background-color: #eee;
  border: none;
  border-radius: 5px;
}
.join_button {
  padding: 5px;
  margin: 5px;
  min-width: 70vw;
  border: none;
  border-radius: 5px;
  background-color:#ff9292;
}
.join_button:hover {
  background-color: #ff2222;
  color: #fff;
}
@media screen and (min-width: 426px) {
  #join input {
    min-width: 40vw;
    padding: 10px;
  }
  .join_button {
    min-width: 40vw;
    padding: 10px;
    margin-top: 30px;
  }
}