* {
  margin: 0px;
  padding: 0px;
}
/* 상단 영화 이미지 */
#movie_image {
  width: 100vw;
  height: 50vw;
  background-image: url(image/Avengers-Endgame.jpg);
  background-size: contain;
  position: relative;
}
#movie_image_content {
  position: absolute;
  bottom: 0px;
  margin: 10px;
}
#movie_image_content b {
  color: #fff;
  font-size: 4vw;
}
#movie_image_content p {
  color: #ccc;
  font-size: 3vw;
}
/* 영화 줄거리 부분 */
.movie_main {
  margin: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie_main img {
  width: 30vw;
  height: 45vw;
}
.movie_main_content div {
  width: 50vw;
  text-align: center;
}
.movie_main_bold1 {
  font-weight: bold;
  margin-bottom: 3vw;
}
.movie_main_bold2 {
  font-weight: bold;
  margin-bottom: 1.5vw;
}
.movie_main_story {
  text-align:left;
  word-spacing: 0.5vw;
}
.movie_main_acter_box {
  display: none;
}
.movie_main_score .fa-star, .movie_main_score .fa-star-half {
  display: none;
}
/* 코멘트 기능 */
.comment_title {
  padding: 10px;
  border: 1px solid #eee ;
}
.comment_title span{
  margin-right: 10px;
}
.comment_content {
  border: 1px solid #eee;
}
.comment_content > div:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid #eee;
}
.comment_top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.comment_top .fa-star, .fa-star-half {
  color: #fef619;
}
.comment_main {
  padding: 10px;
}
.comment_bottom {
  padding: 10px;
}
.comment_bottom .fa-heart {
  color: #ff4d4d;
}
.comment_bottom .fa-comment {
  color: #ccc;
}

/* <!-- 코멘트 생성 --> */

#mycomment_border {
  border: 1px solid #ddd;
  margin: 0px auto;
}

#mycomment_tb {
  margin: 0px 10px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vw;
  position: relative;
  bottom: auto;
}

#mycomment_tb input[type="text"] {
  width: 99%;
  height: 80%;
  vertical-align: top;
}

#mycomment-count {
  position: absolute;
  margin-top: 5px;
  text-align: right;
  font-size: 1rem;
}


#mycomment_tb input[type="text"]::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
}

#my-char-count { /* 수정된 선택자 */
  position: absolute;
  bottom: 0px; /* 위치 조정 */
  left: 0;
  text-align: right;
  font-size: 1.2rem;
  color:gray
}



.mycomment-input {
  margin: 0px 10px;
  border: 1px solid #ddd;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 20vw;
  position: relative;
  bottom: auto;
}

.mycomment-button {
  margin: 0px 10px;
  /* border: 1px solid #ddd; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 7vw;
  position: relative;
  bottom: auto;
}

#mycomment {
  width: 99%;
  height: 80%;
  vertical-align: top;
  font-size: 1.2rem;
}


#mycomment_top {
  margin: 20px 10px 0;
  /* border: 1px solid #ddd; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large
  /* height: 10vw; */
  /* padding: 0.5rem; */
}

#comment_create {
  margin: 0px 10px;
  /* border: 1px solid #ddd; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw;
}

.commentbutton {
  width: 100%;
  height: 100%;
  background-color: #ff2f6e;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

@media screen and (max-width: 500px) {
  #my-char-count {
    font-size: 0.7rem; /* 모바일 환경에서 원하는 크기로 조정해주세요 */
  }
  #mycomment {
    font-size: 0.9rem;
  }
  #mycomment_top {
    font-size:medium
  }
}

@media screen and (min-width: 500px) {
  ::placeholder {
    font-size: 1.2rem; /* PC 환경에서 원하는 크기로 조정해주세요 */
  }
}

/* #comment_create:first-of-type {
  margin-top: 40px; 첫 번째 요소의 상단 마진 설정
} */

.rating-text {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#result {
  font-size: x-large;
  font-style: bold;
  padding-right: 0.2em;
}

.star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
}

.star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: yellow;
  overflow: hidden;
  pointer-events: none;
}





@media screen and (min-width: 426px) {
  /* 상단 영화 이미지 영역 */
  #movie_image {
    height: 30vw;
    background-size: cover;
    position: relative;
  }
  #movie_image_content {
    position: absolute;
    bottom: 40px;
    left: 60px;
  }
  #movie_image_content b {
    font-size: 2vw;
  }
  #movie_image_content p {
    font-size: 1vw;
  }
  /* 영화 줄거리 영역 */
  .movie_main {
    margin: 5vw 10vw;
    align-items:start;
    font-size: 1vw;
  }
  .movie_main_content {
    background-color: #eee;
    height: 27vw;
  }
  .movie_main img {
    width: 18vw;
    height: 27vw;
  }
  .movie_main_score {
    margin-top: 1vw;
  }
  .movie_main_score .fa-star, .movie_main_score .fa-star-half {
    display: inline-block;
  }
  .movie_main_bold1 {
    margin-top: 0.5vw;
  }
  .movie_main_content .fa-star, .fa-star-half {
    color: #fef619;
  }
  .movie_main_story {
    width: 20vw;
    margin: 0px auto;
  }
  .movie_main_acter_box {
    display: block;
  }
  .movie_main_acter {
    width: 20vw;
    margin: 0px auto;
    text-align:left;
    /* word-spacing: 0.5vw; */
  }
  .movie_main_story_acter {
    display: flex;
  }
  /* 코멘트 영역 */
  #comment {
    margin: 40px 70px;
  }
  .comment_title {
    font-size: 1.25rem;
  }
  .comment_content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px;
    border: none;
  }
  .comment_content > div {
    border: 1px solid #eee;
    position: relative;
  }
  .comment_bottom {
    position: absolute;
    bottom: 0px;
  }
  .comment_content > div:after {
    display: none;
  }
}